<<<<<<< HEAD
<div class="container-fluid">
	<div id="slider" class="carousel slide carousel-fade" data-ride="carousel">
		<div class="carousel-inner">
			<div class="board"></div>
			<div class="item active">
				<div class="img-holder">
					<img src="/images/slide1.jpg">
				</div>
				<div class="detail-holder">qwertyuiop</div>
			</div>
			<div class="item">
				<div class="img-holder">
					<img src="/images/slide1.jpg">
				</div>
				<div class="detail-holder">zxcvbnbvczcvc</div>
			</div>
		</div>
	</div>
</div>
=======
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
	<ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
 	</ol>	

  <!-- Wrapper for slides -->
  	<div class="carousel-inner">
    	<div class="item active">
      		<img src="/images/slide1.jpeg" alt="Fruit">
      		<div class="header-text hidden-xs">
            	<div class="col-md-12 text-center">
	            	<h2><span>Organic</span></h2>
	            	<br>
	                <h3><span>Organic foods are the foods produced by the methods and standards of organic agriculture. The standard of organic food is different in the world</span></h3>
	                <br>
	                <div class="">
                	</div>
            	</div><!-- /header-text -->
   			 </div>
   		</div>
    	<div class="item">
      		<img src="/images/slide2.jpg" alt="Spice">
    	</div>
    	<div class="item">
      		<img src="/images/slide3.png" alt="Cooking Oils">
    	</div>
  	</div>
  <!-- Left and right controls -->
  	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	    <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	    <span class="sr-only">Next</span>
	</a>
</div>
<div id="home_body">
	<h1>Welcome to Star Organic farm !</h1>
	<ul class="section">
		<li><a href="#"><div class="contain">
			<img src="/images/home_page section shop.jpg">
			<div class="centered">Products</div>
		</div></a></li>
		<li><a href="#"><div class="contain">
			<img src="/images/home_page section aboutus.jpg">
			
		</div></a></li>
		<li><a href="#"><div class="contain">
			<img src="/images/3.jpg">
			<div class="centered"></div>
		</div></a></li>
	</ul>
>>>>>>> 6ba3f582644047111555e771b7829a9076620f5e
<hr><hr>
<div class="container-fluid">
	<div id="productCarousel" class="carousel slide carousel-fade" data-ride="carousel">
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	    	<h2>Pulses</h2>
	    	{{#each products}}
				{{#contains this.category "pulses"}}
					<div class="col-sm-6 col-md-6 col-lg-3">
				        <div class="projects_holder">
				            <div class="caption">
				                <a class="" href="/product/{{this._id}}">
				                    <h3 class="title">{{this.title}}</h3>
				                </a>
				            </div>
				            <article class="mix mix_all" style="display: inline-block; opacity: 1;">
				                <div class="image_holder">
				                    <a class="" href="/product/{{this._id}}"><span class="image"><img src="{{ this.imgPath }}" class="" alt=""></span></a>
				                     <span class="text_holder">
				                        <span class="text_outer">
				                            <span class="text_inner">
				                                <p class="qbutton" href="#" >${{this.price}}</p>
				                                <a class="qbutton" id="add-to-cart" href="/cart/{{this._id}}" >Add to cart</a>
				                            </span>
				                        </span> 
				                    </span>
				                </div>
				            </article>
				        </div> 
				    </div>
				{{/contains}}
			{{/each}}
	    </div>

	    <div class="item">
	    	<h2>Nutritious cereals</h2>
		    {{#each products}}
				{{#contains this.category "nutritious cereal"}}
					<div class="col-sm-6 col-md-6 col-lg-3">
				        <div class="projects_holder">
				            <div class="caption">
				                <a class="" href="/product/{{this._id}}">
				                    <h3 class="title">{{this.title}}</h3>
				                </a>
				            </div>
				            <article class="mix mix_all" style="display: inline-block; opacity: 1;">
				                <div class="image_holder">
				                    <a class="" href="/product/{{this._id}}"><span class="image"><img src="{{ this.imgPath }}" class="" alt=""></span></a>
				                     <span class="text_holder">
				                        <span class="text_outer">
				                            <span class="text_inner">
				                                <p class="qbutton" href="#" >${{this.price}}</p>
				                                <a class="qbutton" id="add-to-cart" href="/cart/{{this._id}}" >Add to cart</a>
				                            </span>
				                        </span> 
				                    </span>
				                </div>
				            </article>
				        </div> 
				    </div>
				{{/contains}}
			{{/each}}
	    </div>

	    <div class="item">
<<<<<<< HEAD
	    	<h2>Rice</h2>
	    	{{#each products}}
				{{#contains this.category "rice"}}
=======
	    	<h2>Spices and Condiments</h2>
	    	{{#each products}}
				{{#contains this.category "spices and condiment"}}
>>>>>>> 6ba3f582644047111555e771b7829a9076620f5e
					<div class="col-sm-6 col-md-6 col-lg-3">
				        <div class="projects_holder">
				            <div class="caption">
				                <a class="" href="/product/{{this._id}}">
				                    <h3 class="title">{{this.title}}</h3>
				                </a>
				            </div>
				            <article class="mix mix_all" style="display: inline-block; opacity: 1;">
				                <div class="image_holder">
				                    <a class="" href="/product/{{this._id}}"><span class="image"><img src="{{ this.imgPath }}" class="" alt=""></span></a>
				                     <span class="text_holder">
				                        <span class="text_outer">
				                            <span class="text_inner">
				                                <p class="qbutton" href="#" >${{this.price}}</p>
				                                <a class="qbutton" id="add-to-cart" href="/cart/{{this._id}}" >Add to cart</a>
				                            </span>
				                        </span> 
				                    </span>
				                </div>
				            </article>
				        </div> 
				    </div>
				{{/contains}}
			{{/each}}
	    </div>
	  </div>

	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#productCarousel" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#productCarousel" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>
</div>