<div class="container" style="background:white; margin-top:20px; margin-bottom:20px; padding-bottom:20px; padding-top:20px;">
  <div class="row" id="detail">
    <div class="col-lg-6">
      <div class="image"><img src="{{product.imgPath}}"></div>
    </div>
    <div class="col-lg-6">
      <h1>{{product.title}}</h1>
      <div class="description"><p>{{product.description}}</p></div>
      <h3>Price: ${{product.price}} </h3>
      <a href="/cart/{{product._id}}" ><button type="button" class="btn btn-success add-to-cart">Add to Cart</button></a>
    </div>
  </div>
</div>
